[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git

[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bash/z"]
	path = bash/z
	url = git://github.com/rupa/z.git
[submodule "git/git-meld"]
	path = git/git-meld
	url = git://github.com/wmanley/git-meld.git
